.name {
    text-align: center;
    color: black;
    font-family: fantasy, serif;
    font-size: 50px;
}

/* #chloe, #jager {
    color: blue;
    font-family: cursive, sans-serif;
} */

.nav-bar {
    height: 50px;
    background-color: burlywood;
}

.nav-menu {
    /* display: flex; */
    text-align: center;
    /* justify-content: absolute; */
    list-style: none;
    /* margin: none; */
}

.nav-items {
    display: inline;
    justify-content: space-around;
    font-size: 30px;
    font-family: fantasy, serif;
}


.image {
    padding: 20px 0 20px 0;
    display: flex;
    max-height: 300px;
    /* width: auto;
    object-fit: contain; */
}

.responsive {
    width: 100%;
    height: auto;
}

.image-container {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    font-family: fantasy, serif;
    position: absolute;
    text-align: center;
    top: 25%;
    bottom: 75%;
    font-size: 25px;
}

.parent-container {
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container-outer {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: flex;
    justify-content: center;
    /* height: 300px; */
    width: 100%;
    background-image:image()
}

.about-text, .project-text, .contact-text {
    height: 100%;
    text-align: center;

}

